# Compter le SQL
*.sql linguist-language=SQL
*.sql linguist-detectable=true

# Notebooks ≈ documentation (n'écrasent pas les stats)
*.ipynb linguist-documentation

# Binaries/données hors stats (ne cachent aucun langage, ils sont juste ignorés dans le calcul)
*.pbix linguist-vendored
*.pdf  linguist-vendored
*.xlsx linguist-vendored
*.zip  linguist-vendored
*.csv  linguist-vendored
*.png  linguist-vendored
*.jpg  linguist-vendored

# (facultatif) DAX et Power Query visibles comme texte
*.dax linguist-language=Text
*.pq  linguist-language=Text

